@charset "UTF-8";
/* CSS Document */

.manage {
    display:none;
}

h3 {
    /*font-family: 'Slackey', cursive;*/
    color: white;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;  
}
          
.modal-header {
    background-image: url("img/grass.jpg");
}
.modal-footer {
    background-image: url("img/grass.jpg");
}
.modal-body {
    background-image: url("img/dirt.jpg");
}
          
form {
    color: white;
    font-size: 110%;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;  
}