@charset "UTF-8";
/* CSS Document */

.manage {
    display:none;
}

.playing {
    display:inline;
}

.standings {
    display:none;
} 

.show{
    cursor: pointer;
}

.teams .more {
    padding-left: 25px;
}

.modal-mini {
    /* new custom width */
    width: 400px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -200px;
}

/*
h3 {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;  
}
          
.grass {
    background-image: url("../img/grass.jpg");
}
.dirt {
    background-image: url("../img/dirt.jpg");
}
          
form {
    color: white;
    font-size: 110%;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;  
}
*/
